@media screen and (max-width:576px),
(max-width:768px) {
    .header__top {
        height: 144px;
    }

    .subscribe {
        h2 {
            font-size: 60px;
        }
    }

    .header__bottom {
        height: 100px;
    }

    .banner {
        background-position: center;
    }

    .bottomImage {
        display: none;
    }

    footer {
        .row {
            p {
                bottom: -4px;
                text-align: center;
                font-size: 12px;

                >a>span {
                    font-size: 13px;

                    &:hover {
                        font-size: 14px;
                    }
                }
            }

            .row {
                form {
                    >.btn {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:576px),
(max-width:639px) {
    .tours {
        >.row {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 370px;
            height: 270px;
            position: absolute;
            font-size: 13px;
            line-height: 20px;
            padding: 0;
            text-align: center;

            >h2 {
                font-size: 60px;
            }

            .p2 {
                font-size: 12.5px;
            }

            .row {
                display: flex;
                justify-content: center;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width:576ps),
(max-width:640px) {
    .dark {
        height: 180px;
    }

    .card1 {
        transform: translateY(-130px);

        figure {
            width: 558px;
            height: 300px;
            margin-bottom: 30px;
        }
    }

    .news {
        .news__bottom {
            >figure>img {
                width: 320px;
                height: 230px;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .header__top {
        height: 113px;

        >img {
            width: 170px;
            height: 102px;
            padding: 8px 5px;
            margin-left: 12px;
        }
    }
}

@media screen and (min-width:641px) {
    .dark {
        height: 73px;
    }

    .card1 {
        transform: translateY(-36.5px);
        margin: 0 23px;
    }

    footer {
        .row {
            p {
                bottom: -4px;
                text-align: center;
                font-size: 12px;

                >a>span {
                    font-size: 13px;

                    &:hover {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:577px) {
    .banner {
        background-position: center;
    }
}

@media screen and (min-width:769px) {
    .header__top {
        height: 192px;
    }

    .header__bottom {
        height: 56px;
    }
}

@media screen and (min-width:1400px) {
    .banner {
        height: 700px;
        background-position: top;
    }

    footer {
        height: 100vh;

        .row {
            p {
                bottom: 10px;
                text-align: center;
                font-size: 14px;

                >a>span {
                    font-size: 15px;

                    &:hover {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:2100px) {
    .subscribe {
        background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 43%), url(../img/subscribe-background-scaled.jpg);
        height: 1400px;
        background-position: bottom;
        background-size: cover;

        >.row>form {
            >input {
                width: 800px;
                height: 70px;
            }

            >.row>a {
                margin-top: 25px;
                width: 350px;
                height: 60px;
            }
        }
    }

    .banner {
        .btn {
            width: 300px;
        }
    }

    .tours {
        height: 850px;
        background-position: top;
        background-size: cover;
    }

    footer {
        height: 1000px;
        background-position: bottom;
        background-size: cover;
    }
}

@media screen and (min-width:3092px) {
    footer {
        .bg {
            width: 20%;
        }

        .pic {
            width: 8%;
        }
    }

    .tours {
        .row {
            width: 100%;
            height: 210px;
            text-align: center;

            >.p2 {
                width: 520px;
                margin: auto;
                text-align: justify;
                padding: 30px 0;
            }

            .row>a {
                margin: 0 auto;
            }
        }

    }
}