@font-face {
    font-family: PlayfairDisplay;
    src: url(../font/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Arial;
    src: url(../font/ARIAL.TTF);
}

body {
    font-family: Montserrat;
    ;
}

/* start top */
.row {
    display: flex;
    flex-wrap: wrap;
}

.active {
    color: rgb(243, 83, 83) !important;
}

.span__hamburger {
    display: flex;
    width: 43px;
    height: 38px;
    font-weight: bolder;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    transform: rotate(90deg);

}

.header__top {
    height: 193px;
    background-image: url(../img/header-background-scaled.jpg);
    background-size: cover;

    >img {
        width: 210px;
        height: 114px;
        object-fit: cover;
    }
}

.header__bottom {
    background-color: rgb(69, 21, 42);
    height: 60px;

    >ul>li>a {
        &:hover {
            color: rgb(243, 83, 83) !important;
        }
    }
}

/* end top */

/* start banner */
.banner {
    height: 85vh;
    background-size: cover;
    background-image: url(../img/hero-background-full-scaled.jpg);

    h1 {
        font-family: PlayfairDisplay;
    }

    .btn {
        width: 225px;
        height: 50px;
        background-color: rgb(128, 39, 65);

        >button {
            background-color: inherit;
            border: none;
        }

        &:hover {
            background-color: rgb(249, 98, 100);
        }
    }

    .fa-solid--wine-glass-alt {
        display: inline-block;
        width: 0.57em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288 512'%3E%3Cpath fill='%23000' d='M216 464h-40V346.81c68.47-15.89 118.05-79.91 111.4-154.16l-15.95-178.1C270.71 6.31 263.9 0 255.74 0H32.26c-8.15 0-14.97 6.31-15.7 14.55L.6 192.66C-6.05 266.91 43.53 330.93 112 346.82V464H72c-22.09 0-40 17.91-40 40c0 4.42 3.58 8 8 8h208c4.42 0 8-3.58 8-8c0-22.09-17.91-40-40-40M61.75 48h164.5l7.17 80H54.58z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        margin-left: 5px;
    }
}

.dark {
    background-color: rgb(32, 10, 20);
}

/* end banner */

/* start product */
.card1 {
    transform: translateY(-50px);
}

.product {
    width: 400px;
    height: 330px;
    border-radius: 6px;
    background-image: url(../img/calltoaction-background.jpg);
    background-size: cover;
    position: relative;

    >figcaption {
        color: rgb(128, 39, 65);
        font-family: PlayfairDisplay;
    }

    >img {
        width: 80px;
        height: 155px;
        object-fit: cover;
        position: absolute;
        bottom: 40px;
        left: calc(50% - 40px);
    }

    >a {
        font-size: 15px;
        height: 42px;
        background-color: rgb(128, 39, 65);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* end product */

/* start bottles */
.bottles {
    font-family: PlayfairDisplay;

    .bottles__bottom {
        width: 353px;
        height: 440px;

        >a>img {
            width: inherit;
            height: 250px;
        }

        >a>price {
            font-family: Arial;
        }
    }
}


/* end bottles */

/* start subscribe */
.subscribe {
    height: 124vh;
    background-image: url(../img/subscribe-background-scaled.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    >.row {
        position: absolute;
        top: 10%;

        >h2 {
            font-family: PlayfairDisplay;
            color: rgb(69, 21, 42);
        }

        >form {
            >input {
                border: 1px solid rgb(226, 226, 226);
                height: 48px;
            }

            >.row>a {
                width: 252px;
                height: 40px;
                background-color: rgb(128, 39, 65);
                font-size: 14px;
            }
        }
    }

    .p2 {
        width: 520px;
        height: 51px;
        font-size: 14px;
    }
}
/* end subscribe */

/* start tours */
.tours {
    height: 76vh;
    background-image: url(../img/vineyard-tours-background-scaled.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    >.row {
        color: white;
        width: 536px;
        height: 310px;
        position: absolute;
        >.row>a{
            display: flex;
            width: 234px;
            height: 43px;
            background-color: rgb(128, 39, 65);
        }
    }
}

/* end tours */